// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    position: relative;
    margin-right: 30px;

    a {
      color: #000;
      font-size: 11px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;

      @media (min-width: $screen-sm) {
        font-size: 13px;
        line-height: 1;
      }

      @media (min-width: $screen-md) {
        font-size: 15px;
        line-height: 1;
      }
    }

    &--active,
    &:hover {
      &::after {
        content: '';
        position: absolute;
        background-color: rgba(252, 54, 77, 0.6);
        right: 0px;
        bottom: 3px;
        width: 40px;
        height: 4px;

        @media (min-width: $screen-sm) {
          width: 50px;
          height: 5px;
          right: -3px;
          bottom: 4px;
        }
      }
    }

    &:last-of-type:hover {
      &::after {
        right: -1px;
        width: 35px;

        @media (min-width: $screen-sm) {
          width: 45px;
          right: -4px;
        }
      }
    }
  }


}
