// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slider {

  margin-bottom: 47px;

  &__promo {
    margin: 0;
    margin-bottom: 65px !important;
    padding: 0;
    list-style: none;

    .slick-dots {
      left: 15px;
      width: calc(100% - 15px);
      text-align: left;

      li {
        width: 30px;
        height: 30px;

        button {
          &:before {
            width: 30px;
            height: 30px;
            line-height: 29px;
            opacity: 1;
          }
        }

        &.slick-active button:before {
            opacity: 1;
            border: 1px solid #FC364D;
            border-radius: 50%;
        }
      }
    }

    .slick-prev,
    .slick-next {
        height: 60px;
        width: 60px;
        top: unset;
        right: 20px;
        bottom: -155px;
        background-color: #fff;
        background-image: url(../img/arrow-right.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        transition: 0.3s;

        &:hover {
          background-size: 40px;
        }

    }

    .slick-prev:before, .slick-next:before {
        content: '';
        color: transparent;
        opacity: 1;

    }

    .slick-prev {
      background-image: url(../img/arrow-left.svg);
      left: unset;
      right: 65px;
    }

    .slick-next {
        right: 5px;
    }
  }

  &__sliced {
    margin: 0;
    padding: 0;
    position: relative;
  }

  &__content {
    margin-bottom: 30px;
  }

  &__title {
    position: relative;
    margin: 62px 20px -1px;
    padding: 0;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;

    &::before {
      content: '01';
      position: absolute;
      top: -17px;
      left: -2px;
      font-size: 75px;
      color: rgba(252, 54, 77, 0.1);
    }

    &--first {
      &::before {
        content: '01';
      }
    }

    &--second {
      &::before {
        content: '02';
      }
    }

    &--third {
      &::before {
        content: '03';
      }
    }

    &--firth {
      &::before {
        content: '04';
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-left: 20px;
    padding: 0;
    font-size: 18px;
    line-height: 35px;
    font-weight: bold;
  }

  &__lead {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 600px;
    line-height: 20px;
  }

  &__divider {
    min-width: 200px;
    max-width: 627px;
    height: 60px;
    margin-right: 20px;
    background-color: rgba(22, 161, 240, 0.7);
  }

}

.tile {
    float: left;
    opacity: 0;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.tile-animated {
    opacity: 0.6;
}
.css3-preload .sliced * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
