mixin slider()
  section.slider
    ul.slider__header
      li.slider__item
        h2.slider__title Разрабатываем
        span.slider__subtitle и сопровождаем
        p.slider__lead Удобные, эстетичные и продуманные сайты делают продажи высокими, клиентов — счастливыми, а мир — прекрасным. Мы, кстати, создаем такие сайты и еще много полезных вещей.

      li.slider__item
        h2.slider__title Разрабатываем
        span.slider__subtitle и сопровождаем
        p.slider__lead Удобные, эстетичные и продуманные сайты делают продажи высокими, клиентов — счастливыми, а мир — прекрасным. Мы, кстати, создаем такие сайты и еще много полезных вещей.

      li.slider__item
        h2.slider__title Разрабатываем
        span.slider__subtitle и сопровождаем
        p.slider__lead Удобные, эстетичные и продуманные сайты делают продажи высокими, клиентов — счастливыми, а мир — прекрасным. Мы, кстати, создаем такие сайты и еще много полезных вещей.

      li.slider__item
        h2.slider__title Разрабатываем
        span.slider__subtitle и сопровождаем
        p.slider__lead Удобные, эстетичные и продуманные сайты делают продажи высокими, клиентов — счастливыми, а мир — прекрасным. Мы, кстати, создаем такие сайты и еще много полезных вещей.
