mixin competitions()
  section.competitions
    h2.competitions__header Компетенции
    p.competitions__lead У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира. Во всех задачах четко распределяем обязанности и используем максимум навыков — так получается быстрее и качественнее.
    table.competitions__table
      tr
        td HTML5
        td pug
        td CSS3
        td Gulp
        td SASS
      tr
        td WordPress
        td JavaScript
        td jQuery
        td Babel
        td PHP
      tr
        td LESS
        td Figma
        td Sketch
        td Photoshop
        td BEM
