mixin competitions()
  section.competitions
    h2.competitions__header Компетенции
    p.competitions__lead У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира. Во всех задачах четко распределяем обязанности и используем максимум навыков — так получается быстрее и качественнее.
    table.competitions__table(id='competitions')
      tr
        td
          span.competitions__name HTML5
          p.competition__hint.visually-hidden Cтандартизированный язык гипертекстовой разметки документов в интернете.
        td
          span.competitions__name pug
          p.competition__hint.visually-hidden HTML-шаблонизатор для генерации страниц сайта.
        td
          span.competitions__name CSS3
          p.competition__hint.visually-hidden Средство описания внешнего вида документа, написанного с использованием языка разметки.
        td
          span.competitions__name Gulp
          p.competition__hint.visually-hidden Инструмент автоматизации сборки HTML-страниц.
        td.colored
          span.competitions__name SASS
          p.competition__hint.visually-hidden Инструмент для упрощения разработки CSS.
      tr
        td
          span.competitions__name WordPress
          p.competition__hint.visually-hidden У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира
        td
          span.competitions__name JavaScript
          p.competition__hint.visually-hidden Язык программирования, который добавляет интерактивность и анимационные эффекты на сайт.
        td.colored
          span.competitions__name jQuery
          p.competition__hint.visually-hidden У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира
        td
          span.competitions__name Babel
          p.competition__hint.visually-hidden У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира
        td
          span.competitions__name PHP
          p.competition__hint.visually-hidden У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира
      tr
        td
          span.competitions__name LESS
          p.competition__hint.visually-hidden Инструмент для упрощения разработки CSS.
        td.colored
          span.competitions__name Figma
          p.competition__hint.visually-hidden У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира
        td
          span.competitions__name Sketch
          p.competition__hint.visually-hidden У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира
        td
          span.competitions__name Photoshop
          p.competition__hint.visually-hidden У нас есть специалисты по разработке, дизайну, копирайтингу, продвижению проектов и завоеванию мира
        td
          span.competitions__name BEM
          p.competition__hint.visually-hidden Единые правила написания кода, которые упрощают разработку и увеличивают производительность.
