mixin titles(header, type)
  section.titles
    h1.titles__header #{header}

    if type=='blog'
      div.titles__lead С каждым проектом, как с человеком: знакомимся, присматриваемся, улавливаем главное, проникаемся нежными чувствами и преодолеваем трудности. В итоге получаются работы, которые не стыдно показать.
    else
      div.titles__lead Media bay — маленькая, но гордая студия. Нас четверо, и каждый крут в своем деле — это помогает разграничивать задачи и работать гиперэффективно. Мы владеем кучей навыков, любим интересные проекты и постоянно учимся, чтобы быть в гуще событий и трендов.
      ul.titles__list
        li.titles__item
          h3.titles__title Мы милые
          p.titles__text Очень милые. Мы поделимся с вами какао и, возможно, даже сухим молоком, а еще покажем из окна Неву и чаек.
        li.titles__item
          h3.titles__title Немного странные
          p.titles__text Одновременно читаем профессиональную литературу, проходим курсы и придерживаем дергающиеся глаза.
        li.titles__item
          h3.titles__title Любим свою работу
          p.titles__text Вкладываем все силы и знания в проекты, чтобы было идеально. А потом хвастаемся.
