// В этом файле должны быть стили для БЭМ-блока titles, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.titles {

  $block-name:                &; // #{$block-name}__element

  padding: 65px 20px 45px;
  background-image: url('../img/titles__back--xs.png');
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: $screen-sm) {
    margin-top: 10px;
    padding-top: 121px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px;
    grid-column-gap: 40px;
    background-size: 440px 580px;
    background-image: url('../img/titles__back--sm.png');
  }

  @media (min-width: $screen-md) {
    margin-top: 11px;
    margin-bottom: 157px;
    padding-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
    background-size: 48%;
    background-image: url('../img/titles__back--md.png');
  }

  @media (min-width: $screen-lg) {
    margin-top: 12px;
    margin-bottom: 133px;
    padding-top: 160px;
    padding-left: 100px;
    padding-right: 100px;
    background-size: 600px 600px;
    background-image: url('../img/titles__back--lg.png');
  }

  &--blog {
    padding-bottom: 30px;

    @media (min-width: $screen-sm) {
      padding-bottom: 10px;
      background-image: url('../img/titles__back-blog--sm.png');
      background-size: 60%;
    }

    @media (min-width: $screen-md) {
      padding-top: 82px;
      margin-bottom: 28px;
      background-image: url('../img/titles__back-blog--md.png');
      background-size: 60%;
    }
  }

  &--policy {
    display: block !important;
    max-width: 760px;
    padding-right: 0 !important;
    margin-bottom: 40px !important;
  }


  &__header {
    margin: 0;
    margin-bottom: 20px;
    font-size: 31px;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: bold;

    @media (min-width: $screen-sm) {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 50px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      font-size: 45px;
      line-height: 65px;
    }
  }

  &__lead {
    max-width: 600px;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $screen-sm) {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      line-height: 25px;
    }

    @media (min-width: $screen-md) {
      margin-top: 27px;
      font-size: 17px;
      line-height: 30px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 28px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      padding-top: 10px;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    @media (min-width: $screen-md) {
      padding-top: 30px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 8px;
    }
  }

  &__item {

    position: relative;
    padding-left: 50px;
    margin-bottom: 21px;

    @media (min-width: $screen-sm) {
      margin-bottom: 25px;
      padding-left: 80px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 36px;
      padding-left: 90px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      width: 30px;
      height: 2px;
      background-color: rgba(252, 54, 77, 0.6);

      @media (min-width: $screen-sm) {
        width: 60px;
      }

      @media (min-width: $screen-md)  {
        left: -12px;
        top: 15px;
      }

      @media (min-width: $screen-lg)  {
        height: 3px;
        left: 0;
        top: 11px;
      }

    }
  }

  &__title {
    margin: 0;
    font-size: 14px;
    margin-bottom: 4px;

    @media (min-width: $screen-sm) {
      font-size: 18px;
      margin-bottom: 10px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 5px;
      font-size: 20px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 11px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 15px;
    color: #6B7981;

    @media (min-width: $screen-sm) {
      line-height: 20px;
    }

    @media (min-width: $screen-md) {
      font-size: 15px;
      line-height: 25px;
    }
  }

}
