mixin costs()
  section.costs
    h2.costs__header Стоимость разработки
    p.costs__lead Крутой сайт значит много: он помогает завязывать и выстраивать отношения с клиентами, поднимает продажи  и благотворно воздействует на здоровье нервной системы пользователей. Даже если вы не уверены в том, каким хотите его видеть, все равно звоните  и приходите — разберемся вместе.
    ul.costs__list
      li.costs__item
        h3.costs__title LANDING PAGE
        p.costs__text Крайне полезный инструмент для пополнения клиентской базы и продвижения продукта. Разрабатываем отдельный лендинг под каждый бренд, товар, услугу или акцию.
          span.costs__price от 80 000 ₽
        ul.costs__advantages-list
          li.costs__advantages-item индивидуальный дизайн
          li.costs__advantages-item 1-5 экранов
          li.costs__advantages-item блок захвата данных
          li.costs__advantages-item мобильная версия
          li.costs__advantages-item адаптивная верстка

      li.costs__item
        h3.costs__title BUSINESS SERVICE
        p.costs__text Важный элемент имиджа компании — информативный структурированный сайт с удобным функционалом. Решает задачи от повышения доверия к бренду до получения заказов.
          span.costs__price от 120 000 ₽
        ul.costs__advantages-list
          li.costs__advantages-item индивидуальный дизайн
          li.costs__advantages-item разработка структуры
          li.costs__advantages-item функционал оформления заявки
          li.costs__advantages-item мобильная версия
          li.costs__advantages-item адаптивная верстка

      li.costs__item
        h3.costs__title E-COMMERCE
        p.costs__text Удобная система ведения электронной торговли для компаний любого размера: помогает клиенту познакомиться с товарами и услугами, выбрать нужное и сделать заказ.
          span.costs__price от 160 000 ₽
        ul.costs__advantages-list
          li.costs__advantages-item индивидуальный дизайн
          li.costs__advantages-item каталог товаров
          li.costs__advantages-item система фильтров и сортировки
          li.costs__advantages-item функционал оформления заказа
          li.costs__advantages-item мобильная версия
          li.costs__advantages-item адаптивная верстка
