// В этом файле должны быть стили для БЭМ-блока costs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.costs {
  padding-left: 20px;
  padding-right: 21px;
  margin-bottom: 60px;

  @media (min-width: $screen-sm) {
    padding-right: 0;
    margin-bottom: 100px;
  }

  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 70px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
  }

  &__header {
    margin: 0;
    margin-bottom: 17px;
    font-size: 23px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 24px;
      font-size: 28px;
      line-height: 35px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 37px;
      font-size: 36px;
      line-height: 45px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 30px;
    }
  }

  &__lead {
    margin: 0;
    line-height: 20px;
    margin-bottom: 46px;
    max-width: 600px;

    @media (min-width: $screen-sm) {
      width: 65%;
      margin-bottom: 43px;
      font-size: 14px;
      line-height: 25px;
    }

    @media (min-width: $screen-md) {
      width: 59%;
      margin-bottom: 116px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 160px;
      margin-bottom: 96px;
      width: 100%;
      max-width: 660px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &__item {
    position: relative;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template-columns: 40% 55%;
      grid-template-rows: 55px auto;
      grid-column-gap: 5%;
    }

  }

  &__item:not(:last-of-type) {
    margin-bottom: 50px;

    @media (min-width: $screen-sm) {
      margin-bottom: 80px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 115px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 106px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;

    @media (min-width: $screen-sm) {
      margin: 0;
      font-size: 22px;
      line-height: 50px;
    }

    @media (min-width: $screen-md) {
      font-size: 28px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -11px;
      left: -1px;
      width: 80px;
      height: 2px;
      background-color: #FC364D;

      @media (min-width: $screen-sm) {
        top: -2px;
      }

      @media (min-width: $screen-md) {
        height: 4px;
        left: 2px;
        top: -23px;
      }

      @media (min-width: $screen-lg) {
        left: 0px;
        top: -15px;
        width: 90px;
      }

    }
  }

  &__text {
    margin: 0;
    margin-bottom: 9px;
    max-width: 350px;
    font-size: 12px;
    line-height: 20px;
    color: #5F5D66;

    @media (min-width: $screen-sm) {
      max-width: 600px;
      margin: 0;
      padding: 0;
      font-size: 13px;
      line-height: 20px;
    }

    @media (min-width: $screen-md)  {
      margin-top: 25px;
      font-size: 14px;
      line-height: 25px;
    }

    @media (min-width: $screen-lg) {
      margin-top: -20px;
      margin-right: 50px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &__price {
    display: block;
    margin-top: 10px;
    margin-left: -2px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;

    @media (min-width: $screen-sm) {
      padding-top: 20px;
      padding-bottom: 29px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      color: #000;
    }

    @media (min-width: $screen-lg) {
      padding-top: 21px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__advantages-list {
    position: relative;
    margin: 0;
    margin-top: 14px;
    margin-left: -20px;
    margin-right: 20%;
    padding: 20px;
    list-style: none;
    background-color: #5FBFCD;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    max-width: 350px;

    @media (min-width: 450px) {
      font-size: 12px;
      line-height: 15px;
      padding-top: 30px;
    }

    @media (min-width: $screen-sm) {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;

      max-width: none;
      min-width: 410px;
      margin: 0;
      margin-left: auto;
      padding-left: 150px;
      font-size: 13px;
      line-height: 20px;
    }

    @media (min-width: $screen-md) {
      margin-top: -25px;
      padding-top: 52px;
      padding-left: 200px;
      min-width: unset;
      width: 100%;
      max-width: 550px;
      font-size: 15px;
      line-height: 20px;
    }

    @media (min-width: $screen-lg) {
      max-width: 1000px;
      min-height: 310px;
      margin-top: -16px;
      padding-top: 40px;
      padding-left: 280px;
      font-size: 17px;
      line-height: 30px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 5px;
      right: -75px;
      width: 180px;
      height: 165px;
      background-image: url('../img/landing.png');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 140px 145px;

      @media (min-width: $screen-sm) {
        right: unset;
        left: -96px;
        bottom: -75px;
        width: 260px;
        height: 285px;
        background-size: 170px 190px;
      }

      @media (min-width: $screen-md) {
        left: -120px;
        bottom: -25px;
        width: 312px;
        height: 285px;
        background-size: 200px 240px;
      }

      @media (min-width: $screen-lg) {
        left: -120px;
        bottom: -30px;
        width: 338px;
        height: 327px;
        background-size: 230px 270px;
      }
    }

    &--business::after {
      background-image: url('../img/business.png');
      background-size: 160px 145px;

      @media (min-width: $screen-sm) {
        background-size: 190px 190px;
      }

      @media (min-width: $screen-md) {
        background-size: 240px 240px;
      }

      @media (min-width: $screen-lg) {
        background-size: 270px 270px;
      }
    }

    &--commerce::after {
      background-image: url('../img/commerce.png');
      background-size: 140px 115px;
      height: 135px;
      width: 160px;


      @media (min-width: $screen-sm) {
        background-size: 190px 150px;
        bottom: -105px;
        left: -100px;
      }

      @media (min-width: $screen-md) {
        background-size: 240px 240px;
      }

      @media (min-width: $screen-lg) {
        background-size: 270px 270px;
      }

    }
  }

  &__advantages-item {
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-bottom: 15px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 10px;
    }
  }
}
