mixin comand()
  section.comand
    h2.comand__header Команда
    ul.comand__list.slider__comand
      li.comand__item
        img.comand__img(src="img/photo--1.jpg")
        h3.comand__name Андрей
        span.comand__prof Исполнительный директор
        p.comand__lead Капитан корабля. Делает так, чтобы все были счастливы.
      li.comand__item
        img.comand__img(src="img/photo--2.jpg")
        h3.comand__name Оля
        span.comand__prof Веб-разработчик
        p.comand__lead Богиня семантической верстки  и котиков. Милая, как капибара.
      li.comand__item
        img.comand__img(src="img/photo--3.jpg")
        h3.comand__name Лена
        span.comand__prof UX/UI дизайнер
        p.comand__lead Отвечает за смысл и красоту. Ненавидит кривую типографику.
