// В этом файле должны быть стили для БЭМ-блока cases, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cases {

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 38px;

  &__header {
    margin: 0;
    margin-bottom: 30px;;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 26px;
      font-size: 28px;
      line-height: 35px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 30px;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-left: 100px;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      font-size: 22px;
      line-height: 50px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: -100px;
      width: 80px;
      height: 2px;
      background-color: #FC364D;

      @media (min-width: $screen-sm) {
        top: 21px;
      }
    }
  }

  &__img {
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: 300px;
    margin-top: 18px;
    margin-bottom: 10px;
    object-fit: cover;

    @media (min-width: $screen-sm) {
      width: calc(100% - 280px);
      margin-left: 100px;
      margin-right: 180px;
      margin-bottom: 25px;
    }
  }

  &__lead {
    margin: 0;
    margin-bottom: 11px;
    line-height: 20px;
    max-width: 600px;

    @media (min-width: $screen-sm) {
      margin-left: 100px;
      margin-right: 180px;
      margin-bottom: 18px;
      font-size: 14px;
      line-height: 25px;
    }
  }

  &__link {
    position: relative;
    font-size: 10px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
        margin-left: 100px;
        font-size: 12px;
    }


    &::after {
      content: '';
      position: absolute;
      top: 1px;
      right: -48px;
      width: 30px;
      height: 7px;
      background-image: url('../img/arrow-right.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      transition: 0.3s;

      @media (min-width: $screen-sm) {
        top: 3px;
      }
    }

    &:hover {
      &::after {
        width: 35px;
        height: 10px;
        right: -58px;
      }
    }
  }

}
