mixin list()
  ul.cases__list
    li.cases__item
      h3.cases__title Pakkola
      img.cases__img(src='img/pakkola.png')
      p.cases__lead База отдыха в интереснейшем районе Ленобласти. Создали эстетичный сайт, предусмотрели бронирование и заодно немножко подучили шведскую историю шестнадцатого века.
        a.cases__link(href='#') Подробнее

    li.cases__item
      h3.cases__title T.Hunter
      img.cases__img(src='img/hunter.png')
      p.cases__lead Компания защищает корпоративные данные и предотвращает утечки информации - все серьезно. Изучили специфику и пожелания, а потом создали лаконичный landing page.
        a.cases__link(href='#') Подробнее

    li.cases__item
      h3.cases__title ШАЛЕ ТЕЛЕЦКОЕ
      img.cases__img(src='img/teletskoe.png')
      p.cases__lead Отель с домиками у горного озера, как в кино. Сделали стильный функциональный сайт, добавили возможность посмотреть номера и сразу забронировать. Пока работали, захотели на Алтай.
        a.cases__link(href='#') Подробнее

mixin cases(type)
  if type == 'main'
    section.cases
      h2.cases__header Кейсы
      +list()

  else
    section.cases.cases--blog
      +list()
