mixin info()
  ul.info__list
    li.info__item.info__item--phone
      h3.info__title Телефон
      a.info__link(href='tel:+78126605998') +7 (812) 660 59 98
    li.info__item.info__item--mail
      h3.info__title E-mail
      a.info__link(href='mailto:hello@media-bay.ru') hello@media-bay.ru
    li.info__item.info__item--address
      h3.info__title Адрес
      span.info__text Санкт-Петербург, пр. Обуховской обороны, д.&#160;86, лит. М, БЦ&#160;«Квартал», офис&#160;509.
