mixin footer()
  section.footer
    a.footer__wrapper(href='/index.html')
      svg.footer__logo(width="90", height="22")
        use(xlink:href="img/sprite-svg.svg#header-logo")
    div.footer__contacts
      div.footer__links
        +footer-nav('')
        a.footer__phone(href='tel:+78123326872') +7 812 332-68-72
      div.footer__mail
        a(href='mailto:mediabaystudio@gmail.com') mediabaystudio@gmail.com
      div.footer__address Санкт-Петербург, пр. Обуховской обороны, д. 86, лит. М, БЦ «Квартал», офис 509.
    div.footer__soc
      p.footer__copy © 2018 Студия Media bay. Все права защищены
      ul.footer__socials
        li.footer__social.footer__social--vk
          a(href='#')
            svg(width="27", height="15")
              use(xlink:href="img/sprite-svg.svg#vk")
            span.visually-hidden Вконтакте
        li.footer__social.footer__social--fb
          a(href='#')
            svg(width="10", height="18")
              use(xlink:href="img/sprite-svg.svg#facebook")
            span.visually-hidden Facebook
        li.footer__social.footer__social--inst
          a(href='#')
            svg(width="20", height="20")
              use(xlink:href="img/sprite-svg.svg#instagram")
            span.visually-hidden Instagram
      a.footer__conf(href='/policy.html') Политика конфиденциальности
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='js/modernizr.custom.js')
    script(src='js/classie.js')
    script(src='js/notificationFx.js')
    script(src='js/script.min.js')
    script(src='slick/slick.js')
