// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
  border-top: 1px solid rgba(196, 196, 196, 0.6);

  @media (min-width: $screen-md) {
    margin-left: 40px;
    margin-right: 40px;
  }

  @media (min-width: $screen-lg) {
    margin-left: 100px;
    margin-right: 100px;
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    width: 150px;
    display: block;
    left: 50%;
    margin-left: -75px;
    background-color: #fff;
    top: -10px;

    @media (min-width: $screen-sm) {
      width: 154px;
      left: 50%;
      margin-left: -77px;
      top: -15px;
    }

    @media (min-width: $screen-md) {
      margin-left: -82px;
    }

    @media (min-width: $screen-lg) {
      width: 192px;
      margin-left: -92px;
    }
  }

  &__logo {
    @media (min-width: $screen-sm) {
      width: 95px;
      height: 29px;
    }

    @media (min-width: $screen-md) {
      width: 105px;
    }

    @media (min-width: $screen-lg) {
      width: 130px;
    }
  }

  &__contacts {
    @media (min-width: $screen-sm) {
      display: grid;
      grid-template-columns: 1.2fr 0.8fr 1.2fr;
      align-items: top;
    }

    @media (min-width: $screen-md) {
      padding-top: 12px;
      padding-bottom: 18px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 12px;
      padding-bottom: 28px;
    }
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-sm) {
      max-width: none;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      padding-left: 6px;
      padding-right: 13px;
    }

    @media (min-width: $screen-md) {
      padding: 0;
    }

    @media (min-width: $screen-lg) {
      grid-column-gap: 60px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (min-width: $screen-lg) {
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    a {
      font-size: 12px;
      font-weight: 700;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;

      @media (min-width: $screen-md) {
        font-size: 14px;
      }

      @media (min-width: $screen-lg) {
        font-size: 15px;
      }
    }

    &--active {
      a {
        color: rgba(252, 54, 77, 0.7);
      }
    }
  }

  &__phone {
    text-align: center;
    font-size: 13px;
    color: #000;
    text-decoration: none;

    @media (min-width: $screen-lg) {
      font-size: 16px;
    }
  }

  &__mail {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    a {
      font-size: 13px;
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid #81D9D9;
      transition: 0.3s;

      &:hover {
        border-bottom-color: rgba(252, 54, 77, 0.7);
      }

      @media (min-width: $screen-lg) {
        font-size: 16px;
      }
    }
  }

  &__address {
    margin-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    text-align: center;

    @media (min-width: $screen-sm) {
      text-align: left;
    }

    @media (min-width: $screen-md) {
      padding-left: 0;
      padding-right: 0;
      font-size: 13px;
      line-height: 20px;
    }

    @media (min-width: $screen-lg) {
      font-size: 14px;
      margin-left: 55px;
    }
  }

  &__soc {
    border-top: 1px solid rgba(196, 196, 196, 0.6);

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template-columns: 1fr 0.7fr 1fr;
      grid-template-rows: 64px;
      align-items: center;
    }

    @media (min-width: $screen-lg) {
      padding-top: 10px;
    }

  }

  &__socials {
    max-width: 320px;
    margin: 0 auto;
    padding: 30px 70px 25px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $screen-sm) {
      max-width: unset;
      padding-left: 0;
      padding-right: 0;
      width: 70%;
    }

    @media (min-width: $screen-md) {
      width: 55%;
    }

    @media (min-width: $screen-lg) {
      width: 44%;
    }

    svg {
      fill: #8AC2C2;
      transition: 0.3s;
    }
  }

  &__social {

    &:hover {
      a svg {
        fill: rgba(252, 54, 77, 0.7);
      }
    }

    &--vk {
      @media (min-width: $screen-md) {
        width: 27px;
        height: 15px;
      }
    }

    &--fb {
      @media (min-width: $screen-md) {
        width: 10px;
        height: 18px;
      }
    }

    &--inst {
      @media (min-width: $screen-md) {
        width: 21px;
        height: 21px;
      }
    }
  }

  &__copy {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
      margin: 0;
      padding: 0;
      padding-left: 20px;
      font-size: 10px;
    }

    @media (min-width: $screen-md) {
      padding: 0;
      font-size: 13px;
    }

    @media (min-width: $screen-lg) {
      font-size: 14px;
    }
  }

  &__conf {
    display: none;

    @media (min-width: $screen-sm) {
      margin: 0;
      margin-left: 20px;
      margin-right: auto;
      padding: 0;
      display: block;
      font-size: 11px;
      line-height: 11px;
      color: #000;
      text-decoration: none;
      border-bottom: 1px solid #81D9D9;
      transition: 0.3s;

      &:hover {
        border-bottom-color: rgba(252, 54, 77, 0.7);
      }
    }

    @media (min-width: $screen-md) {
      margin-left: 0;
      font-size: 13px;
    }

    @media (min-width: $screen-lg) {
      font-size: 14px;
      margin-left: 55px;
    }
  }
}
