// В этом файле должны быть стили для БЭМ-блока activities, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.activities {

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 58px;

  @media (min-width: $screen-sm) {
    min-height: 420px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-image: url(../img/activities-back.png);
    background-size: 38% 100%;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 9px;
    padding-left: 70px;
    padding-top: 61px;
    margin-bottom: 72px;
  }

  @media (min-width: $screen-md) {
    min-height: 455px;
    margin-bottom: 110px;
    padding-left: 100px;
    padding-top: 73px;
    background-size: 24% 100%;
  }

  @media (min-width: $screen-lg) {
    min-height: 490px;
    margin-bottom: 125px;
    margin-left: 100px;
    background-size: 27% 100%;
  }

  &__header {
    margin: 0;
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
      width: 100%;
      font-size: 28px;
      line-height: 35px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      width: 100%;
      font-size: 36px;
      line-height: 45px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 140px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-sm)  {
      margin-top: -43px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 293px;
    }

    @media (min-width: $screen-md) {
      margin-top: -60px;
      margin-right: 88px;
      height: 330px;
    }

    @media (min-width: $screen-lg) {
      margin-right: 130px;
      margin-top: -70px;
      height: 360px;
    }
  }

  &__item {
    background-color: #F2FAFA;
    margin-bottom: 10px;

    @media (min-width: $screen-sm) {
      margin: 0;
      background-color: transparent;
    }
  }

  &__head {
    position: relative;
    padding: 11px 20px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @media (min-width: $screen-sm) {
      padding: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -5px;
      right: 20px;
      width: 10px;
      height: 10px;

      background-image: url('../img/minus.svg');
      background-size: 10px 10px;
      background-position: top center;
      background-repeat: no-repeat;

      @media (min-width: $screen-sm) {
          background-image: none;
      }
    }

    &--opened {
      &::after{
        background-image: url('../img/plus.svg');

        @media (min-width: $screen-sm) {
          top: 0;
          margin-top: 0;
          right: unset;
          left: 0;
          height: 100%;
          border-left: 3px solid rgba(252,54,77,0.6);
        }
      }
    }

    &--opened ~ .activities__text {
      display: block;
    }
  }

  &__title {
    margin: 0;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      font-size: 13px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 20px;
      font-weight: 500;
    }

    @media (min-width: $screen-md) {
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 16px;
    }

    @media (min-width: $screen-lg) {
      font-size: 17px;
      line-height: 25px;
    }
  }

  &__toggle {
    font-size: 12px;
    color: #FC364D;
  }

  &__text {
    border-top: 1px solid rgba(95,191,205,0.2);
    padding: 10px 20px 30px;


    @media (min-width: $screen-sm) {
      position: absolute;
      top: 82px;
      left: 70px;
      padding-left: 0;
      width: 60%;
      border-top: none;
    }

    @media (min-width: $screen-md) {
      top: 118px;
      left: 100px;
      width: 51%;
    }

    @media (min-width: $screen-lg) {
      left: 240px;
      width: 47%;
    }

    p {
      margin: 0;
      margin-top: 15px;
      padding: 0;
      font-size: 12px;
      line-height: 20px;

      @media (min-width: $screen-sm) {
        margin-top: 25px;
        font-size: 14px;
        line-height: 25px;
      }

      @media (min-width: $screen-md) {
        font-size: 16px;
      }

      @media (min-width: $screen-lg) {
        margin-top: 27px;
        font-size: 17px;
        line-height: 30px;
      }
    }
  }

}
