mixin activities()
  section.activities
    h2.activities__header Что мы делаем
    ul.activities__list
      li.activities__title
        h3.activities__title Миссия
        div.activities__text
          p Интернет полнится неудобными интерфейсами, ядовитыми цветами и кривыми текстами, и мы решили, что должны искоренить это зло. Основная задача — понять вашу идею и максимально круто ее реализовать.
          p Каждый вид бизнеса, будь это интернет-магазин бензопил или ламповая кофейня, требует разных инструментов, и мы это понимаем. А еще мы любим, чтобы все было красиво, поэтому много внимания уделяем дизайну. Бывает такое: листаешь сайт, а по щеке катится скупая слеза счастья — вот это про нас.

      li.activities__title
        h3.activities__title Аналитика
        div.activities__text
          p Интернет полнится неудобными интерфейсами, ядовитыми цветами и кривыми текстами, и мы решили, что должны искоренить это зло. Основная задача — понять вашу идею и максимально круто ее реализовать.
          p Каждый вид бизнеса, будь это интернет-магазин бензопил или ламповая кофейня, требует разных инструментов, и мы это понимаем. А еще мы любим, чтобы все было красиво, поэтому много внимания уделяем дизайну. Бывает такое: листаешь сайт, а по щеке катится скупая слеза счастья — вот это про нас.

      li.activities__title
        h3.activities__title UX проектирование
        div.activities__text
          p Интернет полнится неудобными интерфейсами, ядовитыми цветами и кривыми текстами, и мы решили, что должны искоренить это зло. Основная задача — понять вашу идею и максимально круто ее реализовать.
          p Каждый вид бизнеса, будь это интернет-магазин бензопил или ламповая кофейня, требует разных инструментов, и мы это понимаем. А еще мы любим, чтобы все было красиво, поэтому много внимания уделяем дизайну. Бывает такое: листаешь сайт, а по щеке катится скупая слеза счастья — вот это про нас.

      li.activities__title
        h3.activities__title UI дизайн
        div.activities__text
          p Интернет полнится неудобными интерфейсами, ядовитыми цветами и кривыми текстами, и мы решили, что должны искоренить это зло. Основная задача — понять вашу идею и максимально круто ее реализовать.
          p Каждый вид бизнеса, будь это интернет-магазин бензопил или ламповая кофейня, требует разных инструментов, и мы это понимаем. А еще мы любим, чтобы все было красиво, поэтому много внимания уделяем дизайну. Бывает такое: листаешь сайт, а по щеке катится скупая слеза счастья — вот это про нас.

      li.activities__title
        h3.activities__title Текстовое наполнение
        div.activities__text
          p Интернет полнится неудобными интерфейсами, ядовитыми цветами и кривыми текстами, и мы решили, что должны искоренить это зло. Основная задача — понять вашу идею и максимально круто ее реализовать.
          p Каждый вид бизнеса, будь это интернет-магазин бензопил или ламповая кофейня, требует разных инструментов, и мы это понимаем. А еще мы любим, чтобы все было красиво, поэтому много внимания уделяем дизайну. Бывает такое: листаешь сайт, а по щеке катится скупая слеза счастья — вот это про нас.

      li.activities__title
        h3.activities__title Веб-разработка
        div.activities__text
          p Интернет полнится неудобными интерфейсами, ядовитыми цветами и кривыми текстами, и мы решили, что должны искоренить это зло. Основная задача — понять вашу идею и максимально круто ее реализовать.
          p Каждый вид бизнеса, будь это интернет-магазин бензопил или ламповая кофейня, требует разных инструментов, и мы это понимаем. А еще мы любим, чтобы все было красиво, поэтому много внимания уделяем дизайну. Бывает такое: листаешь сайт, а по щеке катится скупая слеза счастья — вот это про нас.

      li.activities__title
        h3.activities__title Интернет-маркетинг
        div.activities__text
          p Интернет полнится неудобными интерфейсами, ядовитыми цветами и кривыми текстами, и мы решили, что должны искоренить это зло. Основная задача — понять вашу идею и максимально круто ее реализовать.
          p Каждый вид бизнеса, будь это интернет-магазин бензопил или ламповая кофейня, требует разных инструментов, и мы это понимаем. А еще мы любим, чтобы все было красиво, поэтому много внимания уделяем дизайну. Бывает такое: листаешь сайт, а по щеке катится скупая слеза счастья — вот это про нас.
