mixin activities()
  section.activities
    h2.activities__header Что мы делаем
    ul.activities__list
      li.activities__item
        div.activities__head.activities__head--opened
          h3.activities__title Миссия
        div.activities__text
          p Интернет полнится неудобными интерфейсами, ядовитыми цветами  и кривыми текстами, и мы решили, что должны искоренить это зло. Основная задача — понять вашу идею и максимально круто ее реализовать.
          p Каждый вид бизнеса, будь это интернет-магазин бензопил или ламповая кофейня, требует разных инструментов, и мы это понимаем. А еще мы любим, чтобы все было красиво, поэтому много внимания уделяем дизайну. Бывает такое: листаешь сайт, а по щеке катится скупая слеза счастья — вот это про нас.

      li.activities__item
        div.activities__head
          h3.activities__title Аналитика
        div.activities__text
          p Исследуем сайт и находим ошибки в интерфейсе, логике и структуре. Анализируем опыт пользователя: как и зачем он приходит, достигает ли цели, какие инструменты использует.
          p Основной параметр - удобство на визуальном уровне, потому что от этого зависит, совершит ли человек нужное действие. Одна неработающая кнопка или нечитаемая строка способны влиять на окончательное решение. Обязательно рассматриваем поведение пользователя в комплексе с бизнес-задачами сайта - только так можно придумать вариант, который будет работать.

      li.activities__item
        div.activities__head
          h3.activities__title UX проектирование
        div.activities__text
          p Чтобы пользователь заказал, купил, позвонил или оставил данные, его нужно направить. Для этого мы продумываем внутреннюю структуру и логику взаимодействия элементов - возможные ошибки нужно исключить в самом начале.
          p Будем звонить и встречаться, задавать много вопросов, копаться в интернетах и разбираться, как устроена ваша отрасль, пока не придумаем крутой функционал. Потом создадим прототип - он покажет, как будет работать уже готовый проект и что можно доработать сразу.

      li.activities__item
        div.activities__head
          h3.activities__title UI дизайн
        div.activities__text
          p У прототипа появляются визуальный стиль и предварительные тексты: уже понятно, как он будет выглядеть для пользователя. После утверждения дизайн-концепции создаем и дорабатываем детали - иконки, фотографии и прочее.
          p Внешний вид сайта важен так же, как и удобство. От размера и расположения кнопочки зависит, сколько раз на нее нажмут, а от сочетания цветов на странице - как долго ее не закроют. Кстати, макеты адаптивной и мобильной версий создаем уже после согласования основной.

      li.activities__item
        div.activities__head
          h3.activities__title Текстовое наполнение
        div.activities__text
          p Когда красивый и удобный сайт наполняют плохим текстом, где-то грустит один редактор. Скорее всего, наш. Важно понять, что хороший продукт - это когда все работает, радует глаз и несет смысл.
          p Независимо от тематики и задач бизнеса, текст, в первую очередь - обращение к пользователю. Времена бездушных опусов с ключевыми словами во главе прошли, и теперь можно выдохнуть, расслабиться и говорить с человеком по-человечески. Даже о шурупах.

      li.activities__item
        div.activities__head
          h3.activities__title Веб-разработка
        div.activities__text
          p Задача верстальщика - сделать так, чтобы сайт на всех устройствах отображался как макет дизайнера. Это - искусство с использованием HTML, CSS и всяких умных штук для упрощения разработки.
          p Вся красота с выпадающими, выпрыгивающими, набрасывающимися и кричащими в лицо окнами - это JavaScript. Если у сайта задач чуть больше, чем просто висеть в интернете и быть красивым, нужна серверная часть: как минимум скрипт для отправки почты, например, как максимум - движок. Мы вот любим WordPress.

      li.activities__item
        div.activities__head
          h3.activities__title Интернет-маркетинг
        div.activities__text
          p Сайт - это здорово, но будем же честными: их много. Чтобы выделиться из огромной информационной массы, нужно продвигаться всеми возможными способами, и всем известный SMM - не предел.
          p Маркетинг подразумевает планирование бюджетов, составление стратегии рекламных кампаний и, собственно, их запуск. В течение работы кампании нужно периодически анализировать эффективность и менять всякие штуки, писать рассылки и тестировать решения - все это лучше доверить нам.
