mixin contacts()
  section.contacts
    h2.contacts__header Контакты
    p.contacts__lead Мы любим знакомиться! Напишите нам, позвоните или просто оставьте свои данные, чтобы обсудить задачу.
    div.form__step.contacts__form
      form(id='form2')
        div.form__answers.form__answers--four
          p.form__fields
            input.form__name(type='text' name='user-name' placeholder='Представьтесь' required)
          p.form__fields
            input.form__phone(type='phone' name='user-phone' placeholder='Номер телефона' required)
          p.form__fields
            input.form__mail(type='email' name='user-email' placeholder='E-mail' required)
          p.form__fields--agree
            input.form__agree(type='checkbox' id='agreeded' required)
            label.form__agree--label(for='agreeded') Принимаю #[a(href="/policy.html" target="_blank") соглашение] об использовании персональных данных
          p.form__fields
            input.form__send(type='submit' value='Отправить' id='contacts' disabled)

    ul.contacts__list
      li.contacts__item
        h3.contacts__title Адрес
        p.contacts__text Санкт-Петербург, пр. Обуховской обороны, д. 86, лит. М, БЦ «Квартал», офис 509.
      li.contacts__item
        h3.contacts__title ТЕЛЕФОН
        a.contacts__text.contacts__text--not-under(href="#") +7 812 332-68-72
      li.contacts__item
        h3.contacts__title Е-MAIL
        a.contacts__text(href="#") mediabaystudio@gmail.com
