// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 60px;
  padding: 60px 20px 27px;
  background-color: #F2FAFA;

  @media (min-width: $screen-sm) {
    display: grid;
    grid-template-columns: 56% 40%;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    padding-top: 75px;
  }

  @media (min-width: $screen-md) {
    grid-template-columns: 53% 36%;
    grid-column-gap: 100px;
    grid-row-gap: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $screen-lg)  {
    grid-template-columns: 50% 36%;
    grid-column-gap: 180px;
    padding-left: 100px;
    padding-right: 100px;
  }

  &__header {
    margin: 0;
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
      font-size: 28px;
      line-height: 35px;
    }

    @media (min-width: $screen-md) {
      font-size: 36px;
      line-height: 45px;
    }
  }

  &__lead {
    max-width: 500px;
    margin: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $screen-sm) {
      grid-column-start: 1;
      margin-top: 0;
      margin-bottom: 22px;
      line-height: 25px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 25px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 24px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &__form {
    margin-bottom: 46px;

    @media (min-width: $screen-sm) {
      grid-column-start: 1;
    }

  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      margin-bottom: 30px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 35px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 27px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 10px;
      font-size: 15px;
    }
  }

  &__text {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #777777;

    &--not-under {
      text-decoration: none;
    }

    @media (min-width: $screen-md) {
      font-size: 14px;
    }

    @media (min-width: $screen-lg) {
      font-size: 16px;
      line-height: 25px;
    }
  }

}
