mixin projects()
  section.projects
    h2.projects__header Жизненный цикл проекта
    div.projects__list.slider__projects
      section.projects__item
        h3.projects__title Начинаем со встречи: знакомимся, обсуждаем концепцию и пьем чай.
        div.projects__text
          p Вы рассказываете нам, какие задачи нужно решить, а мы предлагаем варианты, учитывая свои навыки и возможности. Вместе смотрим наши предыдущие проекты, приходим в полный восторг  и составляем концепт вашего будущего сайта.
          p Когда решение нравится всем, строим примерный план работы и объясняем каждый шаг: чем и когда будем заниматься.

      section.projects__item
        h3.projects__title Заключаем договор, создаем прототипы и пьем валерьянку.
        div.projects__text
          p На этом этапе стартует проектирование. Мы подписываем понятный договор, утверждаем визуальную концепцию, обговариваем задачи и передаем дизайнеру. Дизайнер принимает успокоительное и начинает прототипировать.
          p Потом вы смотрите скелет сайта, вносите (или не вносите) правки, и начинается волшебство.

      section.projects__item
        h3.projects__title Создаем дизайн, показываем его вам и продолжаем пить валерьянку.
        div.projects__text
          p После того как вы одобрили прототип, мы делаем дизайн-макеты и обдумываем адаптацию для мобильных устройств. Вернее, это делает наш дизайнер — утомленный, но уже немножечко довольный собой.
          p Когда цветовые решения, визуальные элементы и тексты оказываются на своих местах, дизайнер хитро улыбается и передает эстафету разработчику.

      section.projects__item
        h3.projects__title Мы работаем над проектом, вы занимаетесь своими делами, разработчик подливает в кофе энергетик.
        div.projects__text
          p Здесь происходит магия: макеты становятся веб-страницами, появляются структура и связь между элементами, а еще редактор дорабатывает тексты, чтобы было уж точно классно.
          p Уже можно внести правки по контенту, уточнить детали и немного похвалить всех нас. От похвалы у нас открывается второе дыхание — оно особенно понадобится разработчику.

      section.projects__item
        h3.projects__title Можно сказать, финишная прямая: создаем внутренние механизмы сайта и переходим на чай с ромашкой.
        div.projects__text
          p Программирование затрагивает сложные структуры, некие шестеренки и колесики, которые обеспечивают связь с пользователем — в конце концов, для этого и существует сайт.
          p Когда основная часть работы сделана, мы дружно выдыхаем и отправляемся тестировать и пробовать.

      section.projects__item
        h3.projects__title Та-дамм! Запускаем результат своих трудов, отлавливаем ошибки, в конце пьем вино.
        div.projects__text
          p Мы проверяем все возможные сценарии, ищем недочеты (которых, конечно, нет) и вносим последние штрихи. Все, что может пойти не так, увидим и исправим сейчас.
          p Вы смотрите окончательный вариант и восхищаетесь, мы консультируем вас по вопросам пользования, а жизнь начинает играть новыми красками. Готово!
