mixin projects()
  section.projects
  h2.projects__header Жизненный цикл проекта
  ul.projects__list.slider
    li.projects__item
      h3.projects__title Начинаем со встречи: знакомимся, обсуждаем концепцию и пьем чай.
      div.projects__text
        p Вы рассказываете нам, какие задачи нужно решить, а мы предлагаем варианты, учитывая свои навыки и возможности. Вместе смотрим наши предыдущие проекты, приходим в полный восторг и составляем концепт вашего будущего сайта.
        p Когда решение нравится всем, строим примерный план работы и объясняем каждый шаг: чем и когда будем заниматься.

    li.projects__item
      h3.projects__title Начинаем со встречи: знакомимся, обсуждаем концепцию и пьем чай.
      div.projects__text
        p Вы рассказываете нам, какие задачи нужно решить, а мы предлагаем варианты, учитывая свои навыки и возможности. Вместе смотрим наши предыдущие проекты, приходим в полный восторг и составляем концепт вашего будущего сайта.
        p Когда решение нравится всем, строим примерный план работы и объясняем каждый шаг: чем и когда будем заниматься.

    li.projects__item
      h3.projects__title Начинаем со встречи: знакомимся, обсуждаем концепцию и пьем чай.
      div.projects__text
        p Вы рассказываете нам, какие задачи нужно решить, а мы предлагаем варианты, учитывая свои навыки и возможности. Вместе смотрим наши предыдущие проекты, приходим в полный восторг и составляем концепт вашего будущего сайта.
        p Когда решение нравится всем, строим примерный план работы и объясняем каждый шаг: чем и когда будем заниматься.

    li.projects__item
      h3.projects__title Начинаем со встречи: знакомимся, обсуждаем концепцию и пьем чай.
      div.projects__text
        p Вы рассказываете нам, какие задачи нужно решить, а мы предлагаем варианты, учитывая свои навыки и возможности. Вместе смотрим наши предыдущие проекты, приходим в полный восторг и составляем концепт вашего будущего сайта.
        p Когда решение нравится всем, строим примерный план работы и объясняем каждый шаг: чем и когда будем заниматься.

    li.projects__item
      h3.projects__title Начинаем со встречи: знакомимся, обсуждаем концепцию и пьем чай.
      div.projects__text
        p Вы рассказываете нам, какие задачи нужно решить, а мы предлагаем варианты, учитывая свои навыки и возможности. Вместе смотрим наши предыдущие проекты, приходим в полный восторг и составляем концепт вашего будущего сайта.
        p Когда решение нравится всем, строим примерный план работы и объясняем каждый шаг: чем и когда будем заниматься.

    li.projects__item
      h3.projects__title Начинаем со встречи: знакомимся, обсуждаем концепцию и пьем чай.
      div.projects__text
        p Вы рассказываете нам, какие задачи нужно решить, а мы предлагаем варианты, учитывая свои навыки и возможности. Вместе смотрим наши предыдущие проекты, приходим в полный восторг и составляем концепт вашего будущего сайта.
        p Когда решение нравится всем, строим примерный план работы и объясняем каждый шаг: чем и когда будем заниматься.
