extends templates/layout-home.pug

block meta
  title MediaBay
  meta(name='MediaBay', content='')

block header
  +header('Кейсы')
  +titles('Кейсы', 'blog')
  +cases('blog')

block page


block footer
  +footer()
