extends templates/layout-home.pug

block meta
  title MediaBay
  meta(name='MediaBay', content='')

block header
  +header('Кейсы')
  +titles('Кейсы', 'blog')

block page
  +cases('blog')

block footer
  +footer('Кейсы')
