extends templates/layout-home.pug


block header
  +loader()
  +header('Контакты')
  +titles('Контакты', 'contacts')

block page
  +map()
  +feedback()


block footer
  +footer('Контакты')
  +modal()
