extends templates/layout-home.pug

block meta
  title MediaBay
  meta(name='MediaBay', content='')

block header
  +header()

block page
  +slider()
  +activities()
  +competitions()
  +cases()
  +projects()
  +costs()
  +forms()

block footer
  +footer()
