extends templates/layout-home.pug

block meta
  title MediaBay
  meta(name='MediaBay', content='')

block header
  +header('Главная')

block page
  +slider()
  +activities()
  +competitions()
  +cases('main')
  +projects()
  +costs()
  +forms()

block footer
  +footer()
  +modal()
