//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header/header.pug
include blocks/footer/footer.pug
include blocks/slider/slider.pug
include blocks/activities/activities.pug
include blocks/competitions/competitions.pug
include blocks/cases/cases.pug
include blocks/projects/projects.pug
include blocks/costs/costs.pug
include blocks/forms/forms.pug
include blocks/form/form.pug
include blocks/footer-nav/footer-nav.pug
include blocks/titles/titles.pug
include blocks/comand/comand.pug
include blocks/contacts/contacts.pug
include blocks/attache/attache.pug
include blocks/modal/modal.pug
