$main-color:          #7DCBCF; // green
$main-color-dark:     #4AA2A5; // green dark
$second-color:        #1F2455; // magenta
$second-color-light:  #6A4099; // magenta light
$warning-color:       #FDC05D; // orange

$gray-light:          #F2F2F2;
$gray-dark:           #231F20;

$text-color:          $gray-dark;

$font-family:         Ubuntu, sans-serif;
$font-size:           14px;
$line-height:         1.4;

$screen-xs:           320px;
$screen-sm:           768px;
$screen-md:           1024px;
$screen-lg:           1440px;
$screen-xl:           1920px;


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
