// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {

  padding: 15px 21px 10px;
  max-width: 320px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $screen-sm) {
    position: relative;
    padding-top: 37px;
    padding-left: 20px;
    max-width: 335px;
    z-index: 2;
  }

  @media (min-width: $screen-md) {
    padding-top: 46px;
    padding-left: 42px;
    max-width: 400px;
  }

  &__wrapper {
    position: relative;

    &--active {
      &::after {
        content: '';
        position: absolute;
        bottom: 9px;
        right: 0px;
        width: 30px;
        height: 5px;
        background-color: rgba(252, 54, 77, 0.6);

        @media (min-width: $screen-sm) {
          width: 45px;
          height: 5px;
          right: -5px;
        }

        @media (min-width: $screen-md) {
          width: 50px;
          height: 7px;
          right: -4px;
          bottom: 14px;
        }
      }
    }
  }

  &__logo {
    width: 90px;
    height: 22px;
    margin-top: -3px;


     @media (min-width: $screen-sm) {
       width: 111px;
       height: 22px;
     }

     @media (min-width: $screen-md) {
       width: 130px;
       height: 40px;
       margin-top: -12px;
     }

  }

}
